@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

#fixedwidth {
	width:1024px;
	margin:0 auto;
	padding 0;
}

#canvas-container {
	margin: 0 auto;
	padding 0;
}

#mycanvas{
	border-style: solid;
  border-color: black;
  margin-top: 0;
	padding-top: 0;
}

.heading-container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.container-row>div:first-of-type {
	margin-left: 0px;
}

.container-row>div {
	margin-left: 20px;
}

#meanWaitingTime {
}

.container-row {
	height: auto;
	display: flex;
	flex-direction: row;
}

h4 {
	margin: 0;
}
