@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

#fixedwidth {
	width:1024px;
	margin:0 auto;
	padding 0;
}

#canvas-container {
	margin: 0 auto;
	padding 0;
}

#mycanvas{
	border-style: solid;
  border-color: black;
  margin-top: 0;
	padding-top: 0;
}
